<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title><%= widgetName %> Tests</title>

    <!-- META TAGS -->
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="<%= testPageBaseUrl %>dijit/themes/claro/claro.css" />
    <link rel="stylesheet" type="text/css" href="<%= testPageBaseUrl %>esri/css/esri.css" />
    <link rel="stylesheet" href="<%= testPageBaseUrl %>bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/<%= widgetName %>.css">
    <style type='text/css'>
        body {
            padding: 50px;
        }
    </style>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="<%= testPageBaseUrl %>jquery/dist/jquery.js"></script>
    <script type='text/javascript' src="<%= testPageBaseUrl %>bootstrap/dist/js/bootstrap.js"></script>
    <script type='text/javascript' src="<%= testPageBaseUrl %>dojo/dojo.js"></script>
    <script type="text/javascript">
        var baseUrl = window.location.pathname.replace(/\/[^\/]+$/, '') + '/' + '<%= testPageBaseUrl %>';
        var widgetUnderTest;

        require({
            baseUrl: baseUrl,
            packages: ['app', 'esri', 'dojo', 'dijit', 'dojox']
        }, [
            '<%= path %><%= widgetName %>',

            'dojo/domReady!'
        ], function(Module) {
            widgetUnderTest = new Module({
            }, 'node');

            widgetUnderTest.startup();
        });
</script>
</head>
<body class='claro'>
    <div id="node"></div>
</body>
</html>
