<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title><%= widgetName %> Tests</title>
    <link rel="stylesheet" href="//js.arcgis.com/3.13/esri/css/esri.css">
    <style>
        @import url('tests.css');
        @import url('../resources/<%= widgetName %>.css');

        /* override default styles here */
    </style>
</head>
  <body>
    <div id="map"></div>
    <div id="widgetContainer">
        <div id="widgetNode"></div>
    </div>
    <script src="//js.arcgis.com/3.13/"></script>
    <script type="text/javascript">
        var testsUrl = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/')) + '/';
        var widgetUnderTest;
        var map;

        require([
          <% if (testPageMap === 1) { %>
          'esri/map',
          <% } else if (testPageMap === 2) { %>
          'esri/arcgis/utils',
          <% } %>
            testsUrl + '../<%= widgetName %>.js',
            'dojo/domReady!'
        ], function(
          <% if (testPageMap === 1) { %>
          Map,
          <% } else if (testPageMap === 2) { %>
          arcgisUtils,
          <% } %>
          Module
        ) {


          <% if (testPageMap) { %>
            // init map
            var mapOptions = {
                basemap: 'topo',
                center: [-122.45,37.75],
                zoom: 13,
                sliderStyle: 'small'
            };
            <% if (testPageMap === 1) { %>
            map = new Map('map', mapOptions);
            <% } else if (testPageMap === 2) { %>
            // this web map id is a placeholder
            // with only the topo basemap
            // replace it with the id of your web map
            var webMapItemID = '6e03e8c26aad4b9c92a87c1063ddb0e3';
            arcgisUtils.createMap(webMapItemID, 'map', {
              mapOptions: mapOptions
            }).then(function(response) {
              map = response.map;
            });
            <% } %>
          <% } %>

            // init widget
            widgetUnderTest = new Module({
            }, 'widgetNode');
            widgetUnderTest.startup();
        });
    </script>
</body>
</html>
